@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixin;
.section-hero {
    background-color: var.$color5;
    .container {
        padding-top: 210px;
        padding-bottom: 88px;
    }
    &__info {
        flex: 0 1 660px;
        h1 {
            font-size: clamp(40px, 5vw, 67px);
            letter-spacing: 1px;
            color: #ffffff;
            font-weight: 600;
            font-family: "Poppins";
            padding-bottom: clamp(20px, 4vw, 50px);
        }
        p {
            font-size: clamp(20px, 2.5vw, 29px);
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Poppins";
            padding-bottom: clamp(20px, 4vw, 48px);
        }
    }
    &__links {
        @include mixin.media-query(min-width, var.$large-screen) {
            a:first-child {
                margin-right: 34px;
            }
        }
        @include mixin.media-query(max-width, var.$medium-screen) {
            a:first-child {
                margin-right: 15px;
            }
        }
        @include mixin.media-query(max-width, var.$small-screen) {
            a:first-child {
                margin-right: 5px;
            }
        }
    }
    &_graphic {
        flex: 0 1 419px;
        margin: 0 auto;
    }
}