@use 'abstracts/variables' as var;

/* ==================== start section posts===================== */

.section-posts {
    .container {
        max-width: 1184px;
        color: var.$color8;
        font-family: var.$font-Poppins;
        padding-top: 164px;
        padding-bottom: 164px;
    }
    &__card {
        background-color: red;
    }
}