@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixin;
.row>*{
    padding: 0;
}
.pricing{
    background-color: var.$color5;

    & .container{
        max-width: 1226px;
    }
    &__title{
        max-width: 745px;
        margin: auto;

        & h2{
            @include mixin.veterinarian-h2(var.$color4, center);
            padding-top: 102px;
            padding-bottom: 22px
        }
        & p{
            @include mixin.veterinarian-p(33px, var.$color4, center);
            padding-bottom: 90px;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__card{
        max-width: 408px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__body{
            
            & h4{
                @include mixin.veterinarian-h4(42px, var.$color4, center);
                padding-top: 37px;
                padding-bottom: 20px;
            }
            & .first-btn{
                margin-bottom: 112px;
            }
        }
    }
}
