@use 'abstracts/variables' as var;

/* ==================== start section resuts ===================== */

.section-results {
    background-image: url(/assets/img/bg-results.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 576px;
    .container {
        max-width: 1184px;
        color: var.$color4;
        font-family: var.$font-Poppins;
        padding-top: 164px;
        padding-bottom: 164px;
    }
    &__box {
        justify-content: space-between;
        column-gap: 150px;
    }
    &__item {
        text-align: center;
        h4 {
            font-size: 42px;
            font-weight: 500;
            padding-top: 56px;
            padding-bottom: 4px;
        }
        h3 {
            font-size: 38px;
            font-weight: 700;
        }
        img {
            object-fit: contain;
        }
    }
}