@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* colors */
/* font and typography */
/* z index */
/*========== Reset ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== Fonts ==========*/
/*========== Base ==========*/
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================== start header section ===================== */
.navbar {
  min-width: min(525px, 40vw);
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar ul li a {
  font-size: clamp(19.2px, 2.5vw, 29.17px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-basis: 100%;
  }
}

.heading {
  max-width: 100%;
  background-color: #EAAE00;
  position: sticky;
  top: 0;
}
.heading .container {
  max-width: 1224px;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 33px;
  align-items: center;
}
@media (max-width: 768px) {
  .heading .container {
    flex-wrap: wrap;
  }
}
.heading__logo {
  max-width: clamp(180px, 20vw, 100%);
}
@media (max-width: 768px) {
  .heading__logo {
    flex-basis: 50%;
  }
}
.heading__checkbox {
  display: none;
}
.heading__toggle span {
  display: none;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .heading__toggle span:first-child {
    display: block;
    flex-basis: 50%;
  }
}
.heading__search {
  display: flex;
  justify-content: center;
}
.heading__search input {
  width: min(16vw, 203px);
  height: min(3.7vw, 52px);
  background-color: #FFC500;
  border: none;
  padding: 17px 20px;
}
@media (max-width: 768px) {
  .heading__search input {
    width: 203px;
  }
}
.heading__search input::placeholder {
  color: #FFFFFF;
  font-size: clamp(15px, 2vw, 21px);
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.heading__search span {
  padding-top: 17px;
  padding-bottom: 17px;
  height: min(3.7vw, 52px);
  width: min(3.7vw, 72px);
  background-color: #00BFCA;
  font-size: clamp(15px, 2vw, 21px);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .heading__search span {
    width: 60px;
  }
}
@media (max-width: 768px) {
  .heading__search {
    display: none;
    flex-basis: 100%;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .heading #menu-toggle:checked ~ label span:nth-child(1) {
    display: none;
  }
  .heading #menu-toggle:checked ~ label span:nth-child(2) {
    display: block;
  }
  .heading #menu-toggle:checked ~ .navbar {
    display: block;
    order: 4;
  }
  .heading #menu-toggle:checked ~ .heading__search {
    display: flex;
  }
}

.section-hero {
  background-color: #fcc302;
}
.section-hero .container {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 88px;
}
.section-hero__info {
  flex: 0 1 660px;
}
.section-hero__info h1 {
  font-size: clamp(40px, 5vw, 67px);
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  padding-bottom: clamp(20px, 4vw, 50px);
}
.section-hero__info p {
  font-size: clamp(20px, 2.5vw, 29px);
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  padding-bottom: clamp(20px, 4vw, 48px);
}
.section-hero_graphic {
  flex: 0 1 419px;
}

.first-btn {
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  background-color: #00BFCA;
  padding: 20px 33px;
  border-radius: 7px;
}