@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixin;

/* ==================== start header section ===================== */

.navbar {
    max-width: 525px;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        li a {
            font-size: 29.17px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: var.$color4;
            text-transform: capitalize;
            @include mixin.media-query(max-width, var.$extra-large-screen) {
                font-size: 23px;
            }
            @include mixin.media-query(max-width, var.$large-screen) {
                font-size: 19.2px;
            }
        }
        @include mixin.media-query(max-width, var.$medium-screen) {
            flex-direction: column;
            align-items: center;
        }
    }
    @include mixin.media-query(max-width, var.$medium-screen) {
        max-width: 100%;
    }
}

.heading {
    background-color: var.$color1;
    position: fixed;
    width: 100%;
    .container {
        padding-top: 33px;
        padding-bottom: 33px;
    }
    &__logo {
        max-width: 100%;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include mixin.media-query(min-width, var.$extra-extra-large-screen) {
            max-width: 871px;
        }
        @include mixin.media-query(max-width, var.$extra-extra-large-screen) {
            max-width: 850px;
        }
        @include mixin.media-query(max-width, var.$extra-large-screen) {
            max-width: 700px;
        }
        @include mixin.media-query(max-width, var.$large-screen) {
            max-width: 465px;
        }
        @include mixin.media-query(max-width, var.$medium-screen) {
            max-width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
        }
    }
    &__toggle {
        display: none;
        cursor: pointer;
        justify-content: end;
        span {
            color: var.$color4;
            font-size: 30px;
        }
        @include mixin.media-query(max-width, var.$medium-screen) {
            display: flex;
        }
    }
    &__search {
        display: flex;
        max-width: 275px;
        input {
            width: 203px;
            height: 52px;
            background-color: var.$color2;
            border: none;
            padding: 17px 20px;
            @include mixin.media-query(max-width, var.$large-screen) {
                width: 100px;
                height: 42px;
                padding: 10px 10px;
            }
            @include mixin.media-query(max-width, var.$medium-screen) {
                width: 203px;
                height: 42px;
                padding: 10px 10px;
            }
        }
        input::placeholder {
            color: var.$color4;
            font-size: 21px;
            letter-spacing: 0px;
            font-weight: 400;
            font-family: var.$font-Poppins;
            @include mixin.media-query(max-width, var.$large-screen) {
                font-size: 15px;
            }
        }
        span {
            padding-top: 17px;
            padding-bottom: 17px;
            height: 52px;
            width: 72px;
            background-color: var.$color3;
            font-size: 21px;
            color: var.$color4;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mixin.media-query(max-width, var.$large-screen) {
                height: 42px;
                width: 42px;
            }
        }
        @include mixin.media-query(max-width, var.$medium-screen) {
            justify-content: center;
            margin: 0 auto;
        }
    }
    @include mixin.media-query(max-width, var.$medium-screen) {
        .hide {
            display: block;
        }
    }
}