@use 'abstracts/variables' as var;

/* ==================== start header section ===================== */

.navbar {
    min-width: min(525px, 40vw);
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        li a {
            font-size: clamp(19.2px, 2.5vw, 29.17px);
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: var.$color4;
            text-transform: capitalize;
        }
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width:768px) {
        display: none;
        flex-basis: 100%;
    }
}

.heading {
    max-width: 100%;
    background-color: var.$color1;
    position: sticky;
    top: 0;
    .container {
        max-width: 1224px;
        display: flex;
        justify-content: space-between;
        padding-top: 33px;
        padding-bottom: 33px;
        align-items: center;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
    &__logo {
        max-width: clamp(180px, 20vw, 100%);
        @media (max-width: 768px) {
            flex-basis: 50%;
        }
    }
    &__checkbox {
        display: none;
    }
    &__toggle {
        span {
            display: none;
            color: var.$color4;
        }
        @media (max-width: 768px) {
            span:first-child {
                display: block;
                flex-basis: 50%;
            }
        }
    }
    &__search {
        display: flex;
        justify-content: center;
        input {
            width: min(16vw, 203px);
            height: min(3.7vw, 52px);
            background-color: var.$color2;
            border: none;
            padding: 17px 20px;
            @media (max-width: 768px) {
                width: 203px;
            }
        }
        input::placeholder {
            color: var.$color4;
            font-size: clamp(15px, 2vw, 21px);
            letter-spacing: 0px;
            font-weight: 400;
            font-family: var.$font-Poppins;
        }
        span {
            padding-top: 17px;
            padding-bottom: 17px;
            height: min(3.7vw, 52px);
            width: min(3.7vw, 72px);
            background-color: var.$color3;
            font-size: clamp(15px, 2vw, 21px);
            color: var.$color4;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
                width: 60px;
            }
        }
        @media (max-width:768px) {
            display: none;
            flex-basis: 100%;
            padding-top: 8px;
        }
    }
    @media (max-width:768px) {
        #menu-toggle:checked~label span:nth-child(1) {
            display: none;
        }
        #menu-toggle:checked~label span:nth-child(2) {
            display: block;
        }
        #menu-toggle:checked~.navbar {
            display: block;
            order: 4;
        }
        #menu-toggle:checked~.heading__search {
            display: flex;
        }
    }
}