@use 'abstracts/mixins' as mixin;
@use 'abstracts/variables' as var;

/*========== Fonts ==========*/


/*========== Base ==========*/

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    @include mixin.media-query(min-width, var.$extra-large-screen) {
        max-width: 1184px;
    }
}