@use 'abstracts/variables' as var;
@mixin first-btn($bg-color, $text-color) {
    background-color: $bg-color;
    font-size: 21px;
    color: $text-color;
    font-weight: 600;
    font-family: var.$font-Poppins;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 25px 33px;
    &:hover {
        cursor: pointer;
        background-color: rgb(0, 190, 202, .5);
    }
}