    /* colors */
    
    $color1: #EAAE00;
    $color2: #FFC500;
    $color3: #00BFCA;
    $color4: #FFFFFF;
    $color5: #f9f9f9;
    /* font and typography */
    
    $font-hammersmith: 'Hammersmith One',
    sans-serif;
    $font-playfair-display: 'Playfair Display',
    serif;
    $font-Poppins: 'Poppins',
    sans-serif;
    /* z index */
    
    $global-z-fixed: 99;