    /* colors */
    
    $color1: rgba(255, 255, 255);
    $color2: rgba(0, 224, 208);
    $color3: #413d4b;
    $color4: #333333;
    $color5: #f9f9f9;
    /* font and typography */
    
    $font-hammersmith: 'Hammersmith One',
    sans-serif;
    $font-playfair-display: 'Playfair Display',
    serif;
    $font-Roboto: 'Roboto',
    sans-serif;
    /* z index */
    
    $global-z-fixed: 99;