    // Fonts
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    /* colors */
    
    $color1: #EAAE00;
    $color2: #FFC500;
    $color3: #00BFCA;
    $color4: #FFFFFF;
    $color5: #fcc302;
    $color6: #313243;
    /* font and typography */
    
    $font-Poppins: 'Poppins',
    sans-serif;
    /* z index */
    
    $global-z-fixed: 99;
    // breakpoints